# don't track latex aux files in version control
*.backup
*.aux
*.auxlock
*.log
*.nav
*.out
*.snm
*.toc
*.fls
*.fdb_latexmk
*.bbl
*.blg
*.bcf
*.idv
*.idx
*.ind
*.ilg
*.lg
*.ncx

# don't track the compiled pdf
main.pdf